/* block */
.showcase-one {
  position: relative;
}

@media (width <=767px) {
  .showcase-one {
    background:
      left top / 38rem auto no-repeat url("/assets/images/showcase-bg-one_phone.png?v4"),
      linear-gradient(150deg, var(--primary-550) 50%, var(--primary-400));
    padding-block: 1.5rem 1.75rem;
    padding-inline: 0.75rem;
    /* clip-path: polygon(0 0, 100% 0, calc(100% - var(--layout_wrap-pad-inline-phone)) 100%, 0% 100%); */
  }

  .showcase-one--fit-1 {
    margin-inline: calc(var(--layout_wrap-pad-inline-phone) * -1);
  }
}

@media (width >=768px) {
  .showcase-one {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content auto auto;
    background:
      left top / 75rem auto no-repeat url("/assets/images/showcase-bg-one_desktop.png?v4"),
      radial-gradient(circle at top left, var(--primary-550) 50%, var(--primary-400));
    /* grid-auto-rows: max-content; */
    min-block-size: 30rem;
    gap: 2rem 1.5rem;
    padding-block: 1.5rem 2rem;
    padding-inline: 1.5rem;
    clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0% 100%);
  }
}

.showcase-one_title {
  color: white;
}

@media (width <=767px) {
  .showcase-one_title {
    letter-spacing: -.03em;
    /* margin-bottom: 0.75rem; */
    font-size: var(--typo-xl-fs);
    line-height: 2.5rem;
    font-weight: 400;
  }
}

@media (width >=768px) {
  .showcase-one_title {
    letter-spacing: -.05em;
    font-size: var(--typo-5xl-fs);
    line-height: 4.75rem;
    font-weight: 200;
    grid-area: 1 / 1 / 2 / span 9;
    /* align-self: end; */
  }
}

.showcase-one_speciality {
  list-style-type: none;
  font-weight: 400;
  color: white;
}

@media (width <=767px) {
  .showcase-one_speciality {
    font-size: var(--typo-s-fs);
    line-height: var(--typo-s-lh-m);
    font-weight: 500;
    margin-block: 0.5rem 1rem;
  }

  .showcase-one_speciality li {
    display: inline;
  }

  .showcase-one_speciality li:not(:nth-last-child(-n+2))::after {
    content: ',';
  }
}

@media (width >=768px) {
  .showcase-one_speciality {
    position: absolute;
    inset-block-start: 1rem;
    background-image: linear-gradient(to bottom, white 50%, var(--primary-500) 110%);
    -webkit-background-clip: text;
    letter-spacing: -.02em;
    font-size: var(--typo-l-fs);
    line-height: 2rem;
    font-weight: 500;
    grid-column: 10 / -1;
    -webkit-text-fill-color: transparent;
  }
}

.showcase-one_cta {
  display: flex;
  align-items: flex-start;
  color: white;
}

@media (width <=767px) {
  .showcase-one_cta {
    flex-direction: column;
    align-items: flex-start;
    max-inline-size: 13em;
    padding-inline-start: 1.25rem;
    row-gap: 0.75rem;
  }
}

@media (width >=768px) {
  .showcase-one_cta {
    padding-inline-start: 1.5rem;
    column-gap: 1rem;
    grid-column: 1 / 7;
  }
}

.showcase-one_cta-icon {
  position: absolute;
  inline-size: auto;
}

@media (width <=767px) {
  .showcase-one_cta-icon {
    inset-block-start: -0.375rem;
    inset-inline-start: -0.75rem;
    block-size: 0.875rem;
  }
}

@media (width >=768px) {
  .showcase-one_cta-icon {
    inset-block-start: -0.75rem;
    inset-inline-start: -1.25rem;
    block-size: 1.25rem;
  }
}

.showcase-one_cta-label {
  text-transform: lowercase;
  color: white;
}

@media (width <=767px) {
  .showcase-one_cta-label {
    font-size: var(--typo-xs-fs);
    line-height: var(--typo-xs-lh-s);
    font-weight: 500;
  }
}

@media (width >=768px) {
  .showcase-one_cta-label {
    margin-block-start: -.5rem;
    max-inline-size: 9em;
    font-size: var(--typo-m-fs);
    line-height: var(--typo-m-lh-s);
  }
}

.showcase-one_cta-label span {
  position: relative;
}

.showcase-one_cta-btn {
  white-space: nowrap;
}

@media (width <=767px) {
  .showcase-one_cta-btn {
    /* margin-top: 1.25rem; */
    /* margin-left: 0.75rem; */
    min-inline-size: 9rem;
  }
}

@media (width >=768px) {
  .showcase-one_cta-btn {
    min-inline-size: 10rem;
  }
}

.showcase-one_features {
  list-style-type: none;
}

@media (width <=767px) {
  .showcase-one_features {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 1.5rem;
    gap: .75rem;
  }
}

@media (width >=768px) {
  .showcase-one_features {
    grid-column: 1 / span 4;
    align-self: end;
  }
}

.showcase-one_features-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: white;
}

@media (width <=767px) {
  .showcase-one_features-item {
    align-items: flex-start;
    column-gap: 0.25rem;
  }
}

@media (width >=768px) {
  .showcase-one_features-item {
    align-items: flex-start;
    column-gap: 0.75rem;
  }
}

@media (width <=767px) {
  .showcase-one_features-number {
    letter-spacing: -0.03em;
    font-size: var(--typo-2xl-fs);
    line-height: 2.5rem;
    font-weight: 300;
  }

  .showcase-one_features-text {
    margin-block-start: -0.25rem;
    font-size: var(--typo-xs-fs);
    line-height: 1rem;
    font-weight: 500;
  }
}

@media (width >=768px) {
  .showcase-one_features-number {
    letter-spacing: -0.05em;
    font-size: var(--typo-4xl-fs);
    line-height: 4.25rem;
    font-weight: 200;
  }

  .showcase-one_features-text {
    display: block;
    padding-block-start: 0.625rem;
    font-size: var(--typo-s-fs);
    line-height: 1.25rem;
    font-weight: 500;
  }
}

@media (width <=767px) {
  .showcase-one_chat {
    display: none;
  }
}

@media (width >=768px) {
  .showcase-one_chat {
    grid-row: 2 / -1;
    grid-column: span 6 / -1;
  }
}

/* block — end */
/* layout */
.page-index {}

.page-index_showcase {}

@media (width >=768px) {
  .floor-one {
    padding-block: 2rem 2.5rem;
  }
}

.page-index_listing-one {
  display: grid;
}

@media (width <=767px) {
  .page-index_listing-one {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1rem;
  }
}

@media (width <=767px) {
  .page-index_listing-one-caption {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
    padding-block: 1.5rem .5rem;
  }
}

@media (width >=768px) {
  .page-index_listing-one-caption {
    padding-inline-end: .5rem;
    padding-block: 1rem 1.5rem;
  }
}

@media (width >=768px) {
  .page-index_listing-one {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 0.5rem;
    padding-block: 2rem 2.5rem;
  }
}

.caption-one {}

@media (width >=768px) {
  .caption-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.caption-one_title {
  margin-block-end: 0;
  color: var(--ui-gray-700);
}

@media (width <=767px) {
  .caption-one_title {
    font-size: var(--typo-s-fs);
    line-height: var(--typo-s-lh-s);
    font-weight: 500;
    grid-column: 2 / -1;
  }
}

@media (width >=768px) {
  .caption-one_title {
    margin-block-end: 1rem;
    font-size: var(--typo-m-fs);
    line-height: var(--typo-m-lh-s);
    font-weight: 400;
  }
}

@media (width <=767px) {
  .caption-one_summary-list {
    display: none;
  }
}

@media (width >=768px) {
  .caption-one_summary-list {
    list-style-type: none;
  }

  .caption-one_summary-list li {
    margin-block-end: 0.5rem;
    text-transform: lowercase;
  }
}

/* layout — end */