/* block */
.factoid-two {
  position: relative;
}

.factoid-two--theme-1 {
  color: white;
}

.factoid-two_value {
  display: block;
  white-space: nowrap;
}

@media (width >=768px) {
  .factoid-two_value {
    letter-spacing: -.03em;
    font-size: var(--typo-3xl-fs);
    line-height: 3.25rem;
    font-weight: 200;
  }
}

.factoid-two_value--one {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.factoid-two_label {
  display: block;
}

@media (width <=767px) {
  .factoid-two_label {
    font-size: var(--typo-xs-fs);
    line-height: 1rem;
    font-weight: 500;
  }
}

@media (width >=768px) {
  .factoid-two_label {
    font-size: var(--typo-s-fs);
    line-height: var(--typo-s-lh-s);
    font-weight: 400;
  }
}

.factoid-two_icon {}

.factoid-two_icon--fit-one {
  position: relative;
  block-size: auto;
}

@media (width <=767px) {
  .factoid-two_icon--fit-one {}
}

@media (width >=768px) {
  .factoid-two_icon--fit-one {
    inset-block-start: 0.5rem;
    inline-size: 1.5rem;
  }
}

.factoid-two--free {
  --_fill-color: var(--primary-350);
  margin-inline-start: 0.25rem;
}

.factoid-two--free .factoid-two_value {
  position: relative;
  text-decoration: none;
}

.factoid-two--free .factoid-two_label {
  position: relative;
  color: var(--_fill-color);
}

.showcase-two {
  position: relative;
}

@media (width <=767px) {
  .showcase-two {
    background:
      left top / 100% auto no-repeat url("/assets/images/showcase-bg-one_phone.png?v4"),
      linear-gradient(150deg, var(--primary-550) 50%, var(--primary-400));
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--layout_wrap-pad-inline-phone)) 100%, 0% 100%);
  }

  .showcase-two--fit-one {
    margin-inline: calc(var(--layout_wrap-pad-inline-phone) * -1);
  }
}

@media (width >=768px) {
  .showcase-two {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background:
      left top / 75rem auto no-repeat url("/assets/images/showcase-bg-one_desktop.png?v4"),
      radial-gradient(circle at top left, var(--primary-550) 40%, var(--primary-400) 60%);
    min-block-size: 31.25rem;
    gap: 2.25rem 1.5rem;
    clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0% 100%);
  }
}

.showcase-two_body {}

@media (width <=767px) {
  .showcase-two_body {}
}

@media (width >=768px) {
  .showcase-two_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 1.625rem 2.5rem;
    padding-inline: 1.5rem 0;
    grid-column: 1 / 7;
  }
}

.showcase-two_title {
  color: white;
}

@media (width <=767px) {
  .showcase-two_title {
    letter-spacing: -.04em;
    /* margin-bottom: 0.75rem; */
    font-size: var(--typo-3xl-fs);
    line-height: 3.25rem;
    font-weight: 300;
  }
}

@media (width >=768px) {
  .showcase-two_title {
    letter-spacing: -.05em;
    font-size: var(--typo-5xl-fs);
    line-height: 4.5rem;
    font-weight: 200;
  }
}

.showcase-two_title span {
  position: relative;
}

.showcase-two_add {
  color: white;
}

@media (width <=767px) {
  .showcase-two_add {
    font-size: var(--typo-s-fs);
    line-height: var(--typo-s-lh-m);
    font-weight: 500;
  }
}

@media (width >=768px) {
  .showcase-two_add {
    --_clamp-amount: 1;
    margin-block-start: 0.75rem;
    font-size: var(--typo-m-fs);
    line-height: var(--typo-m-lh-m);
    font-weight: 400;
  }
}

.showcase-two_factoid {
  flex-shrink: 0;
}

.showcase-two_head {
  position: relative;
}

@media (width >=768px) {
  .showcase-two_head {
    grid-column: 7 / -1;
  }
}

.showcase-two_avatar-pic {
  position: absolute;
  inset: 0;
  block-size: 100%;
  inline-size: 100%;
}

.showcase-two_avatar-pic img {
  position: absolute;
  inset: 0;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.showcase-two_head-left {
  z-index: 3;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  color: white;
  pointer-events: none;
}

.showcase-two_head-right {
  z-index: 3;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

@media (width <=767px) {
  .showcase-two_head-right {
    padding-block-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }
}

@media (width >=768px) {
  .showcase-two_head-right {
    padding-block-start: 1rem;
    padding-inline-end: 1rem;
  }
}

.showcase-two_body-wrap {
  display: flex;
  flex-wrap: wrap;
}

@media (width >=768px) {
  .showcase-two_body-wrap--fit-1 {
    margin-block-start: .5rem;
    column-gap: 1.25rem;
  }
}

.showcase-two_body-wrap--fit-2 {
  margin-block-start: 1.5rem;
  margin-inline-start: 1.5rem;
  column-gap: 1rem;
}

.showcase-two_btn {}

@media (width <=767px) {
  .showcase-two_btn {}
}

@media (width >=768px) {
  .showcase-two_btn {
    min-inline-size: 12.5rem;
  }
}

.showcase-two_body-slogan {
  --_clamp-amount: 2;
  color: white;
}

@media (width <=767px) {
  .showcase-two_body-slogan {
    font-size: var(--typo-s-fs);
    line-height: var(--typo-s-lh-m);
  }
}

@media (width >=768px) {
  .showcase-two_body-slogan {
    font-size: var(--typo-s-fs);
    line-height: var(--typo-s-lh-m);
  }
}

.showcase-two_social {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.showcase-two_social-label {
  display: block;
  font-size: var(--typo-xs-fs);
  line-height: 1rem;
  font-weight: 500;
  color: white;
}

.showcase-two_social-nav {
  display: flex;
  column-gap: 0.125rem;
}

.showcase-two_social-link {
  font-size: 0;
  color: white;
}

@media (hover: hover) and (pointer: fine) {
  .showcase-two_social-link:hover {
    color: var(--_hover-fill-color);
  }
}

.showcase-two_social-link--theme-tlg {
  --_hover-fill-color: var(--ui-social-tlg);
}

.showcase-two_social-link--theme-vk {
  --_hover-fill-color: var(--ui-social-vk);
}

.showcase-two_social-link--theme-ok {
  --_hover-fill-color: var(--ui-social-ok);
}

.showcase-two_social-icon {
  block-size: auto;
  width: 3.3125rem;
  fill: currentColor;
}

/* block — end */